;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/agold"
  "src/test"]

 :dependencies
 [[instaparse "1.4.10"]
  [tick "0.5.0-RC5"]
  [cljs-http "0.1.46"]]

 :builds
 {:script
  {:target :node-script
   :main query/-main
   :output-to "out/script/query.js"
   :devtools {:repl-init-ns query
              :repl-pprint true}}}}
