{:server "https://eu1.noozewire.com"
 :endpoint "/json/xgraph"
 :json-params {:subqueries [["Microsoft"] ["Apple"] ["Facebook Meta"] ["Google" "Alphabet"]
                            ["Amazon"] ["Siemens"] ["Volkswagen"]]
               :start "2021-09-01"
               :title "Companies"
               :interval "30d" :n 6}}