{:server "https://eu1.noozewire.com"
 :endpoint "/json/xgraph"
 :json-params {:subqueries [["Scholz"] ["Baerbock"] ["Habeck"] ["Merkel"]
                            ["Lindner"] ["Lauterbach"] ["Merz"] ["Söder"]]
               :title "German Leadership"
               :start "2021-09-01"
               :interval "30d" :n 6}}