{:endpoint "/json/xgraph"
 :server "https://eu1.noozewire.com"
 :json-params {:subqueries [["Ukraine" "Ucraina"] ["Putin" "Poutine" "Lavrov" "Lavrow"]
                            ["Zelensky" "Selenskij" "Zelenskii"]
                            ["Biden" "Blinken"]]
               :start "2021-09-01"
               :title "Ukraine"
               :interval "30d" :n 6}}