{:server "https://eu1.noozewire.com"
 :endpoint "/json/xgraph"
 :json-params {:subqueries [["Metall"] ["CGT"] ["CFDT"] ["Ouvriere"]
                            ["CGIL"]]
               :start "2021-09-01"
               :title "Unions"
               :interval "30d" :n 6}}